:root {
  // colors
  --orange: #da6220;
  --fluorescent-orange: #ff8125;
  --light-orange: #f9e4d8;
  --brown-orange: #bd5c16;
  --indian: #4f1e0c;
  --parchment: #ede8d1;
  --sunglow: #f2c744;
  --harvard-crimson: #bb001b;
  --cinnabar: #ea4335;
  --indigo: #2c3e50;
  --gray: #767676;
  --gray-light: #bebebe;
  --gray-very-light: #d3d3d3;

  --white: #ffffff;
  --white-soft: #f8f8f8;

  --black: #000;
  --black-soft: #222222;

  --linear-background-light: linear-gradient(225deg, var(--sunglow) 0%, var(--parchment) 100%), var(--sunglow);
  --linear-background-dark: linear-gradient(25deg, var(--black-soft) 0%, var(--brown-orange) 100%), var(--black-soft);

  --shadow-light: rgba(60, 60, 60, 0.29);
  --line-light: rgba(60, 60, 60, 0.12);
  --shadow-dark: rgba(84, 84, 84, 0.65);
  --line-dark: rgba(84, 84, 84, 0.48);

  --text-light: var(--indigo);
  --text-dark: var(--light-orange);
  --color-language-light: var(--gray);
  --color-language-dark: var(--gray-light);
  --color-moon: #dfdabd;
  --color-sun: #e3a11c;
  --color-ball-light: #ffa500;
  --color-ball-dark: var(--cinnabar);
  --color-band-light-1: rgba(218, 97, 32);
  --color-band-light-2: rgba(218, 97, 32, 0.4);
  --color-band-light-3: rgba(218, 97, 32, 0.2);
  --color-band-dark-1: rgba(255, 128, 37);
  --color-band-dark-2: rgba(255, 128, 37, 0.4);
  --color-band-dark-3: rgba(255, 128, 37, 0.2);

  --color-background-soft: var(--white-soft);
  --color-background-focus: var(--white);
  --color-background-burger-light: rgba(242, 198, 68, 0.75);
  --color-background-burger-dark: rgba(218, 97, 32, 0.75);
  --color-background-download-light-25: rgba(218, 97, 32, 0.25);
  --color-background-download-light-6: rgba(218, 97, 32, 0.6);
  --color-background-download-dark-25: rgba(255, 128, 37, 0.25);
  --color-background-download-dark-6: rgba(255, 128, 37, 0.6);
  --color-background-project-light: #efdb9c;
  --color-background-project-dark: #86471a;

  // fonts
  --size: 15px;
  --size-navbar: 1.25em;
  --line-height: 1.6;
  --spacing: 1.1px;

  --family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --weight-bold: 600;
  --weight-very-bold: 800;
  // --family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  //   Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  // layout
  --size-project: var(--size-project-desktop);
  --size-project-desktop: 350px;
  --size-project-mobile: 250px;

  --desktop-up: 1620px;
  --desktop-medium: 1440px;
  --desktop-down: 1280px;

  --mobile-up: 920px;
  --mobile-medium: 620px;
  --mobile-down: 375px;
}

/* semantic color variables for this project */
@media only screen and (max-width: 450px) {
  :root {
    --size-project: var(--size-project-mobile);
  }
}

.theme__light {
  --color-background: var(--linear-background-light);
  --color-background-burger: var(--color-background-burger-light);
  --color-background-download-25: var(--color-background-download-light-25);
  --color-background-download-6: var(--color-background-download-light-6);
  --color-background-project: var(--color-background-project-light);
  --color-background-band-1: var(--color-band-light-1);
  --color-background-band-2: var(--color-band-light-2);
  --color-background-band-3: var(--color-band-light-3);

  --color-background-language: rgba(218, 97, 32, 0.2);
  --color-text-language: var(--orange);
  --color-language: var(--color-language-light);

  --color-border-1: var(--shadow-light);
  --color-border-2: var(--line-light);
  --color-border-hover: var(--orange);
  --color-border-active: var(--orange);
  --color-button: var(--orange);
  --color-button-border: var(--orange);
  --color-button-hover: var(--orange);
  --color-button-active: var(--orange);

  --color-heading: var(--text-light);
  --color-text: var(--text-light);
  --color-icon: var(--black);
  --color-link: var(--orange);
  --color-underline: var(--color-background-download-light-25);

  --color-input: var(--gray);
  --color-error: var(--harvard-crimson);

  --gauge-empty: var(--line-light);
  --gauge-full: var(--orange);
}

.theme__dark {
  --color-background: var(--linear-background-dark);
  --color-background-burger: var(--color-background-burger-dark);
  --color-background-download-25: var(--color-background-download-dark-25);
  --color-background-download-6: var(--color-background-download-dark-6);
  --color-background-project: var(--color-background-project-dark);
  --color-background-band-1: var(--color-band-dark-1);
  --color-background-band-2: var(--color-band-dark-2);
  --color-background-band-3: var(--color-band-dark-3);

  --color-background-language: rgba(255, 128, 37, 0.2);
  --color-text-language: var(--fluorescent-orange);
  --color-language: var(--color-language-dark);

  --color-border-1: var(--shadow-dark);
  --color-border-2: var(--line-dark);
  --color-border-hover: var(--fluorescent-orange);
  --color-border-active: var(--fluorescent-orange);
  --color-button: var(--fluorescent-orange);
  --color-button-border: var(--fluorescent-orange);
  --color-button-hover: var(--fluorescent-orange);
  --color-button-active: var(--fluorescent-orange);

  --color-heading: var(--text-dark);
  --color-text: var(--text-dark);
  --color-icon: var(--white);
  --color-link: var(--fluorescent-orange);
  --color-underline: var(--color-background-download-dark-25);

  --color-input: var(--text-dark);
  --color-error: var(--cinnabar);

  --gauge-empty: var(--line-dark);
  --gauge-full: var(--fluorescent-orange);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
  list-style-type: none;
  outline: transparent !important;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background 0.5s;
  line-height: var(--line-height);
  letter-spacing: var(--spacing);
  font-family: var(--family);
  font-size: var(--size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  a {
    &:hover {
      transition: .3s;
    }
  }
}

#app {
  width: 100%;
  margin: 0 auto;
  font-weight: normal;
}