:root {
  // colors
  --chocolate: #da6220;
  --indian: #4f1e0c;
  --parchment: #ede8d1;
  --sunglow: #f2c744;

  --white: #ffffff;
  --white-soft: #f8f8f8;
  --white-mute: #f2f2f2;

  --black: #181818;
  --black-soft: #222222;
  --black-mute: #282828;

  --indigo: #2c3e50;

  --divider-light-1: rgba(60, 60, 60, 0.29);
  --divider-light-2: rgba(60, 60, 60, 0.12);
  --divider-dark-1: rgba(84, 84, 84, 0.65);
  --divider-dark-2: rgba(84, 84, 84, 0.48);

  --text-light-1: var(--indigo);
  --text-light-2: rgba(60, 60, 60, 0.66);
  --text-dark-1: var(--white);
  --text-dark-2: rgba(235, 235, 235, 0.64);

  // fonts
  --size: 15px;
  --line-height: 1.6;
  --spacing: 1.1px;
  --family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --weight-bold: 600;
  --weight-very-bold: 800;
  // --family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
  //   Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  // layout
  --desktop-up: 1620px;
  --desktop-medium: 1440px;
  --desktop-down: 1280px
}

/* semantic color variables for this project */
:root {
  --color-background: var(--white);
  --color-background-soft: var(--white-soft);
  --color-background-mute: var(--white-mute);

  --color-border: var(--divider-light-2);
  --color-border-hover: var(--divider-light-1);

  --color-heading: var(--text-light-1);
  --color-text: var(--text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--black);
    --color-background-soft: var(--black-soft);
    --color-background-mute: var(--black-mute);

    --color-border: var(--divider-dark-2);
    --color-border-hover: var(--divider-dark-1);

    --color-heading: var(--text-dark-1);
    --color-text: var(--text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  list-style-type: none;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  // background: var(--color-background);
  background: var(--sunglow);
  background: linear-gradient(225deg, var(--sunglow) 0%, var(--parchment) 100%);
  transition: color 0.5s, background-color 0.5s;
  line-height: var(--line-height);
  letter-spacing: var(--spacing);
  font-family: var(--family);
  font-size: var(--size);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}