@import './base.scss';
// @import './responsive.scss';

#app {
  width: 100%;
  margin: 0 auto;

  font-weight: normal;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: inherit;

  &:hover {
    color: var(--color-link);
  }
}

h1 {
  font-size: 2.5em;
  font-weight: var(--weight-very-bold);
  color: var(--color-heading);
}

h2 {
  font-size: 1.8em;
  font-weight: var(--weight-bold);
  margin-bottom: 2em;
  color: var(--color-heading);
}

h3 {
  font-size: 1.1em;
  font-weight: var(--weight-bold);
  color: var(--color-heading);
}

.important {
  color: var(--color-link);
  font-weight: var(--weight-bold);
}

i {
  display: inline-flex;
  place-items: center;
  place-content: center;
}

svg {
  background-color: transparent;
}

input,
textarea {
  font-size: .89em;
}

// Scrollbar
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: var(--parchment);
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-1);
  border-radius: 3px;
}