@import '@/assets/scss/base.scss';

a {
  text-decoration: none;
  color: inherit;

  &:hover {
    color: var(--color-link);
  }
}

h1 {
  font-size: 3.25em;
  font-weight: var(--weight-very-bold);
  color: var(--color-heading);
  transition: .4s;
}

h2 {
  font-size: 3.25em;
  font-weight: var(--weight-bold);
  margin-bottom: 2em;
  color: var(--color-heading);
  transition: .4s;
}

h3 {
  font-size: 1.1em;
  font-weight: var(--weight-bold);
  color: var(--color-heading);
}

.important {
  color: var(--color-link);
  font-weight: var(--weight-bold);
}

.important__hover {
  &:hover {
    color: var(--color-link-contact);
  }
}

i {
  display: inline-flex;
  place-items: center;
  place-content: center;
}

svg {
  background-color: transparent;
}

input,
textarea {
  font-size: .89em;
}

// Scrollbar
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

::-webkit-scrollbar-track {
  background: var(--parchment);
  padding: 1px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-border-1);
  border-radius: 3px;
}


// Vue-writer
.is-typed {
  color: var(--color-link);
}

.is-typed span.typed {
  font-weight: var(--weight-very-bold);
}

.is-typed span.cursor {
  display: inline-flex;
  place-items: center;
  width: 3px;
  height: 1.5em;
  background-color: var(--color-heading);
  animation: blink 1s infinite;
}

.is-typed span.cursor.typing {
  animation: none;
}

@keyframes blink {
  49% {
    background-color: var(--color-heading);
  }

  50% {
    background-color: transparent;
  }

  99% {
    background-color: transparent;
  }
}