  // Desktop
  $desktopScreen: "only screen and (max-width: 1440px)";
  // Tablet
  $tabletScreen: "only screen and (max-width: 970px)";
  // Mobile
  $mobileUpScreen: "only screen and (max-width: 720px)";
  $mobileMediumScreen: "only screen and (max-width: 520px)";
  $mobileDownScreen: "only screen and (max-width: 375px)";
  // Menu mobile
  $mobileMenuHidden: "only screen and (max-width: 970px)";
  $mobileMenuVisible: " only screen and (min-width: 970px)";